section.contact {
    padding-top: 70px;
    width: 100%;
    height: auto;
    background-color: #282828;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.contact h1 {

    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}



div.sci {
    margin-top: 50px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.sci a {
    color: #f5f5f5;
}

div.email-sci {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.email-sci span {
    margin-left: 10px;
}